<style>
  :host {    
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {}

  @media screen and (max-width: 575px) {}
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Welcome</span>
</div>

<div class="container h-100" role="main">
  <div class="row text-center">
    <div class="col-12">
      <span>MonsterBox App</span>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-12">
      <span class="ui-inputgroup-addon">http://</span>  
      <input type="text" pInputText
      placeholder="Hostname" 
      [(ngModel)]="deviceControllerHostName">      
      <span class="ui-inputgroup-addon">/monsterbox</span>  
    </div>
    <div class="col-12">
      <button pButton type="button" 
      label="Connect"    
      class="ui-button-raised ui-button-primary"   
      (click)="clickedConnect()"></button>
    </div>
  </div> 

  <div class="row text-center">
    <div class="col-12">
      <div>
        <p-spinner placeholder="delaytimelow"
        [(ngModel)]="delaytimelow" 
        (onChange)="changeDelayTimeLow($event)"
        [min]="0" [max]="100"></p-spinner>
      </div>
      <div>
        <p-spinner placeholder="delaytimehigh"
        [(ngModel)]="delaytimehigh" 
        [min]="0" [max]="100"></p-spinner>
      </div>
      <div>
        <p-spinner placeholder="repetitionslow"
        [(ngModel)]="repetitionslow" 
        [min]="0" [max]="100"></p-spinner>
      </div>
      <div>
        <p-spinner placeholder="repetitionshigh"
        [(ngModel)]="repetitionshigh" 
        [min]="0" [max]="100"></p-spinner>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <button pButton type="button" 
      label="Start"    
      class="ui-button-raised ui-button-success"   
      (click)="clickedStart()"></button>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-12">
      <button pButton type="button" 
      label="Stop" 
      class="ui-button-raised ui-button-danger" 
      (click)="clickedStop()"></button>
    </div>
  </div>

  <!-- Footer -->
  <footer>
  </footer>

</div>